<footer class="footer" id="footer">
    <div class="container footer-container">
    
        <div class="footer-top">
            <div class="footer-heading-block">
        <p class="footer-heading"><span>Chocolate</span> a delicious cure for a bad day</p>
            </div>
    
        <div class="footer-soc-block">
        <p class="footer-subtitle">Social networks</p>
        <ul class="footer-soc-list">
    
            <li class="footer-soc-item"> 
                <a class="footer-soc-link" 
                href="" target="_blank" 
                rel="noopener noreferrer">
             <svg width="24" height="24" class="footer-soc-svg">
                <use href="./images/symbol-defs.svg#icon-instagram"></use>
            </svg>
            </a>
            </li>
        
            <li class="footer-soc-item"> 
                <a class="footer-soc-link" 
                href="" target="_blank" 
                rel="noopener noreferrer">
                <svg width="24" height="24" class="footer-soc-svg">
                    <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
            </a>
            </li>
        
            <li class="footer-soc-item"> 
                <a class="footer-soc-link" 
                href="" target="_blank" 
                rel="noopener noreferrer">
                <svg width="24" height="24" class="footer-soc-svg">
                    <use href="./images/symbol-defs.svg#icon-twitter"></use>
                </svg>
            </a>
            </li>
        
        </ul>
    </div>
    
    <div class="footer-contacts-block" >
        <p class="footer-subtitle">Contact us</p>
        <address class="footer-address">
        <ul class="footer-address-list">
        <li class="footer-address-item"><a class="footer-address-link" href="trl:+380684439426"> +380 (68) 443-94-26</a></li>
        <li class="footer-address-item"><a class="footer-address-link" href="mailto:simplychoc@gmail.com"> simplychoc@gmail.com</a></li>
        </ul>
        </address>
    </div>
        </div>
    
        <div class="footer-bottom">
        <nav class="footer-navigation">
           <ul class="footer-menu-list">
        <li class="footer-menu-item"> 
            <a class="footer-menu-link" href="">Home</a>
        </li>
        <li class="footer-menu-item">
            <a class="footer-menu-link" href="#made">How it is made?</a>
        </li>
        <li class="footer-menu-item">
            <a class="footer-menu-link" href="#loved">Chocolate is loved</a>
        </li>
           </ul>
    
           <ul class="footer-menu-list-mob">
            <li class="footer-menu-item"> 
                <a class="footer-menu-link" href="">Home</a>
            </li>
            <li class="footer-menu-item">
                <a class="footer-menu-link" href="#made">How it is made?</a>
            </li>
            <li class="footer-menu-item">
                <a class="footer-menu-link" href="#products">Our products</a>
            </li>
            <li class="footer-menu-item">
                <a class="footer-menu-link" href="#sellers">Top sellers</a>
            </li>
            <li class="footer-menu-item">
                <a class="footer-menu-link" href="#loved">Chocolate is loved</a>
            </li>
               </ul>
        </nav>
    
        <form class="footer-form">
    
            <input type="email" name="footer-email" 
            class="footer-input" placeholder="Enter your email"
            aria-label="footer input"> 
            <button type="submit" class="footer-subscribe-btn" id="open_modal">Subscribe</button> 
        </form>
        </div>
    </div>
    </footer>