<header class="header">
    <div class="container header-container">

    <a class="header-logo-link" href="./index.html"> 
       <span class="header-logo-italic">SIMPLY</span>  CHOCOLATE
    <img class="header-img" src="images/chocolate.svg" alt="chocolare icon" />
</a>

<button
type="button"
class="header-menu-link-mob"
id="open-mobile-menu"
name="Open mobile menu"
>
<svg class="header-menu-svg" width="28" height="28">
  <use href="./images/symbol-defs.svg#menu"></use>
</svg>
</button>
<!--Header menu-->

<div class="header-desk">
<nav class="header-navigation">
   <ul class="header-menu-list">
<li class="header-menu-item"> 
    <a class="header-menu-link" href="">Home</a>
</li>
<li class="header-menu-item">
    <a class="header-menu-link" href="#made">How it is made?</a>
</li>
<li class="header-menu-item">
    <a class="header-menu-link" href="#loved">Chocolate is loved</a>
</li>
   </ul>
</nav>
<!--Header icons list-->
<ul class="header-list">

    <li class="header-list-item"> 
        <a class="header-list-link" 
        href="" target="_blank" 
        rel="noopener noreferrer">
     <svg width="24" height="24" class="header-soc-link">
        <use href="./images/symbol-defs.svg#icon-instagram"></use>
    </svg>
    </a>
    </li>

    <li class="header-list-item"> 
        <a class="header-list-link" 
        href="" target="_blank" 
        rel="noopener noreferrer">
        <svg width="24" height="24" class="header-soc-link">
            <use href="./images/symbol-defs.svg#icon-facebook"></use>
        </svg>
    </a>
    </li>

    <li class="header-list-item"> 
        <a class="header-list-link" 
        href="" target="_blank" 
        rel="noopener noreferrer">
        <svg width="24" height="24" class="header-soc-link">
            <use href="./images/symbol-defs.svg#icon-twitter"></use>
        </svg>
    </a>
    </li>

</ul>
</div>
</div>
<!--mobile menu-->
<div class="mobile-menu" id="mobile-menu">
    <div class="mob-menu-wrap">
      <button
        type="button"
        class="close-mobile-menu"
        id="close-mobile-menu"
        name="Close mobile menu"
      >
        <svg class="close-btn-icon" width="28" height="28">
          <use href="./images/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
    

    <nav class="mob-nav">
      <ul class="mob-nav-list">
        <li class="mob-nav-list-item">
          <a href="" class="mob-nav-list-link">Home</a>
        </li>
        <li class="mob-nav-list-item">
          <a href="#made" class="mob-nav-list-link"> How it is made?</a>
        </li>
        <li class="mob-nav-list-item">
          <a href="#loved" class="mob-nav-list-link">Chocolate is loved</a>
        </li>
      </ul>
    </nav>

    <ul class="header-icons-list-mob">

        <li class="header-list-item-mob"> 
            <a class="header-list-link-mob" 
            href="" target="_blank" 
            rel="noopener noreferrer">
         <svg width="24" height="24" class="header-soc-link-mob">
            <use href="./images/symbol-defs.svg#icon-instagram"></use>
        </svg>
        </a>
        </li>
    
        <li class="header-list-item-mob"> 
            <a class="header-list-link-mob" 
            href="" target="_blank" 
            rel="noopener noreferrer">
            <svg width="24" height="24" class="header-soc-link-mob">
                <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
        </a>
        </li>
    
        <li class="header-list-item-mob"> 
            <a class="header-list-link-mob" 
            href="" target="_blank" 
            rel="noopener noreferrer">
            <svg width="24" height="24" class="header-soc-link-mob">
                <use href="./images/symbol-defs.svg#icon-twitter"></use>
            </svg>
        </a>
        </li>
    
    </ul>
</div>
  </div>
</header>