<section class="hero" >
    <div class="container hero-container">
<!---Scroll_up-->
      <a href="#top" class="scroll__btn" id="scrollBtn">
        <svg class="scroll__svg" width="32" height="32">
            <use href="./images/icons.svg#icon-scroll-up"></use>
        </svg>
    </a>
<!---Scroll_up-->
    <h1 class="hero-title">
        Treat yourself or a loved one to<br /> 
        our finest ingredients for a moment 
        of pure delight!
    </h1>
  <div class="hero-buttons">
    <div class="hero-buttons-right">
    <button type="button" class="hero-buy-btn">Buy now</button>
    <a href="#made" class="hero-made-btn">How it is made</a>
  </div>
    <div class="hero-down-block">
    <a href="" class="hero-down-btn">scroll down</a>
    <a class="hero-down-link" 
        href="#footer" target="" 
        rel="noopener noreferrer">
     <svg width="16" height="16" class="hero-down-svg">
        <use href="./images/symbol-defs.svg#icon-down"></use>
    </svg>
    </a>
  </div>
</div> 
</div>
</section>