<section class="loved" id="loved">
    <div class="container loved_container">
    <h2 class="loved-title"><span>CHOCOLATE</span> IS LOVED</h2>
    <ul class="loved-list">
    <li class="loved-list-item">
       <img class="loved-image" src="images/section6/Ellipse1.jpg" alt="Victoria Dobrzhanska"/>
        <h3 class="loved-subtitle">Victoria Dobrzhanska</h3>
        <p class="loved-text">I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.</p>
    </li>
    <li class="loved-list-item">
       <img class="loved-image" src="images/section6/Ellipse2.jpg" alt="Nazar Babenko"/>
        <h3 class="loved-subtitle">Nazar Babenko</h3>
        <p class="loved-text">This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the chocolate is good.</p>
    </li>
    <li class="loved-list-item">
        <img class="loved-image" src="images/section6/Ellipse3.jpg" alt="Olena Kampusch"/>
        <h3 class="loved-subtitle">Olena Kampusch</h3>
        <p class="loved-text"> Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The wafer is soft but crunchy.</p>
    </li>
    </ul>
    <button type="button" class="loved-item-btn" id="open_backdrop">Leave a review</button>
    
    
    </div>
    </section>