<section class="made" id="made">
    <div class="container made-container">
    <h2 class="made-title"> HOW IT IS <span>MADE?</span></h2>
    <div class="made-wrap">
            <img class="made-img" src="images/section2-3/image.jpg" alt="dark_chocolate"/>
            <div class="made-content">
            <h3 class="made-subtitle">Try  our chocolates today and discover the perfect balance of flavor</h3>
            <ul class="made-list">
                <li class="made-item">
                    <p class="made-item-text">Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.</p>
                </li>
                <li class="made-item">
                    <p class="made-item-text">At the same time, prepare a water bath. Melt the butter on it.</p>
                </li>
                <li class="made-item">
                    <p class="made-item-text">"Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass becomes uniform and silky.</p>
                </li>
                <li class="made-item">
                    <p class="made-item-text">Heat the mixture over low heat, letting it barely boil.</p>
                </li>
                <li class="made-item">
                    <p class="made-item-text">Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and harden.</p>
                </li>
                </ul>
                </div>
    
    </div>
    </div>
    </section>