<section class="products" id="products">
    <div class="container products-conyainer">
        <h2 class="products-title">OUR <span>PRODUCTS</span></h2>
        <ul class="products-list">
            <li class="product-item">
                <img class="product-img" src="images/section4/img-1.jpg" alt="ORANGE"/>
                <h3 class="products-subtitle">ORANGE</h3>
                <p class="products-item-text">Dark chocolate</p>
                <button type="button" class="products-item-btn">45 UAH</button>
            </li>
            <li class="product-item">
                <img class="product-img" src="images/section4/img-2.jpg" alt="APPLE&CRANBERRY"/>
                <h3 class="products-subtitle">APPLE&CRANBERRY</h3>
                <p class="products-item-text">Milk chocolate</p>
                <button type="button" class="products-item-btn">50 UAH</button>
            </li>
            <li class="product-item">
                <img class="product-img" src="images/section4/img-3.jpg" alt="lime&sea salt"/>
                <h3 class="products-subtitle">lime&sea salt</h3>
                <p class="products-item-text">Dark chocolate</p>
                <button type="button" class="products-item-btn">66 UAH</button>
            </li>
            <li class="product-item">
                <img class="product-img" src="images/section4/img-4.jpg" alt="PINEAPPLE"/>
                <h3 class="products-subtitle">PINEAPPLE</h3>
                <p class="products-item-text">Dark chocolate</p>
                <button type="button" class="products-item-btn">54 UAH</button>
            </li>
            <li class="product-item">
                <img class="product-img" src="images/section4/img-5.jpg" alt="Classic"/>
                <h3 class="products-subtitle">Classic</h3>
                <p class="products-item-text">Milk chocolate</p>
                <button type="button" class="products-item-btn">45 UAH</button>
            </li>
            <li class="product-item">
                <img class="product-img" src="images/section4/img-6.jpg" alt="Honey"/>
                <h3 class="products-subtitle">Honey</h3>
                <p class="products-item-text">Milk chocolate</p>
                <button type="button" class="products-item-btn">50 UAH</button>
            </li>
            <li class="product-item">
                <img class="product-img" src="images/section4/img-7.jpg" alt="Roasted fruits"/>
                <h3 class="products-subtitle">Roasted fruits</h3>
                <p class="products-item-text">Dark chocolate</p>
                <button type="button" class="products-item-btn">66 UAH</button>
            </li>
            <li class="product-item">
                <img class="product-img" src="images/section4/img-8.jpg" alt="Classic2"/>
                <h3 class="products-subtitle">Classic</h3>
                <p class="products-item-text">White chocolate</p>
                <button type="button" class="products-item-btn">54 UAH</button>
            </li>
        </ul>
    </div>
    </section>