<section class="taste" id="taste">
    <div class="container taste-container">
        <h2 class="taste-title">IT ALL ADDS UP TO ONE EXCEPTIONAL <span>TASTE</span> SENSATION</h2>
        <p class="taste-text">At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one exceptional taste sensation.</p>
    <ul class="taste-list">
        <li class="taste-item">
                    <button type="button" class="swiper-button-next">
                    <svg class="swiper-icon" width="24" height="24">
                      <use href="./images/icons.svg#icon-arrow_right_btn"></use>
                    </svg>
                  </button>

            <div class="card__front">
            <img class="taste-img" src="images/section2-3/img-1.jpg" alt="MILK CHOCOLATE"/>
            <h3 class="taste-subtitle"> MILK CHOCOLATE</h3>
        </div>
    
        <div class="card__back">
            
    <h3 class="taste-back-title">Milk chocolate</h3>
    <div class="taste-buttons">
        <button type="button" class="taste-right-btn">chocolate</button>
        <a href="" class="taste-benefits-btn">the benefits</a>
      </div>
    <p class="taste-back-text">Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It is the most consumed type of chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times. Although four-fifths of all milk chocolate is sold in the United States and Europe.</p>
        </div>
    
        </li>
        <li class="taste-item">
                <button type="button" class="swiper-button-next">
                    <svg class="swiper-icon" width="24" height="24">
                      <use href="./images/icons.svg#icon-arrow_right_btn"></use>
                    </svg>
                  </button>

            <div class="card__front">

            <img class="taste-img" src="images/section2-3/img-2.jpg" alt="MILK"/>
            <h3 class="taste-subtitle">MILK</h3>
            </div>
    
            <div class="card__back">
                <h3 class="taste-back-title">Milk</h3>
                <div class="taste-buttons">
                    <button type="button" class="taste-right-btn">milk </button>
                    <a href="" class="taste-benefits-btn">the benefits</a>
                  </div>
                <p class="taste-back-text">Milk is a white liquid food produced by the mammary glands of mammals. It is the primary source of nutrition for young mammals (including breastfed human infants) before they are able to digest solid food.Early-lactation milk, which is called colostrum, contains antibodies that strengthen the immune system.</p>
                    </div>
    
        </li>
        <li class="taste-item">

                <button type="button" class="swiper-button-next">
                    <svg class="swiper-icon" width="24" height="24">
                      <use href="./images/icons.svg#icon-arrow_right_btn"></use>
                    </svg>
                  </button>

            <div class="card__front">

            <img class="taste-img" src="images/section2-3/img-3.jpg" alt="NUTS"/>
            <h3 class="taste-subtitle">NUTS</h3>
            </div>
    
            <div class="card__back">
                <h3 class="taste-back-title">Nuts</h3>
                <div class="taste-buttons">
                    <button type="button" class="taste-right-btn">nuts</button>
                    <a href="" class="taste-benefits-btn">the benefits</a>
                  </div>
                <p class="taste-back-text">Almonds, pistachios, and walnuts are some types of nuts that contain healthy nutrients. When eaten as part of a nutrient-dense diet, these 9 nuts may offer benefits such as reducing your risk of heart disease. They’re a good source of fiber, healthy fats, and plant protein. Plus, they’re great on their own.</p>
                    </div>
    
        </li>
        <li class="taste-item">

                <button type="button" class="swiper-button-next">
                    <svg class="swiper-icon" width="24" height="24">
                      <use href="./images/icons.svg#icon-arrow_right_btn"></use>
                    </svg>
                  </button>   

            <div class="card__front">

            <img class="taste-img" src="images/section2-3/img-4.jpg" alt="SEMI - SWEET CHOCOLATE"/>
            <h3 class="taste-subtitle">SEMI - SWEET CHOCOLATE</h3>
            </div>
    
            <div class="card__back">
                <h3 class="taste-back-title">semi - sweet chocolatee</h3>
                <div class="taste-buttons">
                    <button type="button" class="taste-right-btn">semi - sweet chocolate</button>
                    <a href="" class="taste-benefits-btn">the benefits</a>
                  </div>
                <p class="taste-back-text">Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to gain an understanding of this type of chocolate is to compare it to a different type of chocolate. Semisweet is darker than milk chocolate. In a taste comparison, it has a slightly bitter taste whereas milk chocolate is sweeter.</p>
                    </div>
    
        </li>
        <li class="taste-item">

                <button type="button" class="swiper-button-next">
                    <svg class="swiper-icon" width="24" height="24">
                      <use href="./images/icons.svg#icon-arrow_right_btn"></use>
                    </svg>
                  </button>

            <div class="card__front">

            <img class="taste-img" src="images/section2-3/img-5.jpg" alt="CACAO"/>
            <h3 class="taste-subtitle">CACAO</h3>
            </div>
    
        <div class="card__back">
    <h3 class="taste-back-title">cacao</h3>
    <div class="taste-buttons">
        <button type="button" class="taste-right-btn">cacao</button>
        <a href="" class="taste-benefits-btn">the benefits</a>
      </div>
    <p class="taste-back-text">Cocoa is a natural product obtained from the fruits of the cocoa tree (Theobroma cacao). This tropical fruit contains beans, from which cocoa mass, cocoa powder and chocolate are made. The history of the use of cocoa goes back to ancient times. Already in ancient Mesoamerica, the Mayan and Aztec civilizations used cocoa in their culture and rituals</p>
        </div>
    
        </li>
        <li class="taste-item">
                <button type="button" class="swiper-button-next">
                    <svg class="swiper-icon" width="24" height="24">
                      <use href="./images/icons.svg#icon-arrow_right_btn"></use>
                    </svg>
                  </button>

            <div class="card__front">

            <img class="taste-img" src="images/section2-3/img-6.jpg" alt="RASPBERRY"/>
            <h3 class="taste-subtitle">RASPBERRY</h3>
            </div>
    
            <div class="card__back">
                <h3 class="taste-back-title">raspberry</h3>
                <div class="taste-buttons">
                    <button type="button" class="taste-right-btn">raspberry</button>
                    <a href="" class="taste-benefits-btn">the benefits</a>
                  </div>
                <p class="taste-back-text">Raspberry is a tasty and aromatic berry plant that is popular all over the world. It belongs to the pink family and grows in many regions, including North America, Europe and Asia. Raspberries have many varieties and color variations, from red to yellow and black.</p>
                    </div>
    
        </li>
        <li class="taste-item">

                 <button type="button" class="swiper-button-next">
                    <svg class="swiper-icon" width="24" height="24">
                      <use href="./images/icons.svg#icon-arrow_right_btn"></use>
                    </svg>
                  </button>           
            <div class="card__front">

            <img class="taste-img" src="images/section2-3/img-7.jpg" alt="COCONUT"/>
            <h3 class="taste-subtitle">COCONUT OIL</h3>
            </div>
    
        <div class="card__back">
    <h3 class="taste-back-title">COCONUT OIL</h3>
    <div class="taste-buttons">
        <button type="button" class="taste-right-btn">coconut oil</button>
        <a href="" class="taste-benefits-btn">the benefits</a>
      </div>
    <p class="taste-back-text">Cocoa is a natural product obtained from the fruits of the cocoa tree (Theobroma cacao). This tropical fruit contains beans, from which cocoa mass, cocoa powder and chocolate are made. The history of the use of cocoa goes back to ancient times. Already in ancient Mesoamerica, the Mayan and Aztec civilizations used cocoa in their culture and rituals</p>
        </div>
    
        </li>
    </ul>
    </div>
    </section>