.hero {
    
    width: 360px;
    display: flex;
    margin: 0 auto;
   padding-bottom: 20px;
}
.hero-container {
    background-color: #11111100, #111111;
    border-radius: 30px;
   height: 621px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0, 0, 0, 0.409)), url(../images/fon/chocolate_main.jpg);
    background-repeat: no-repeat;
    background-position: 77% 0;
    background-size: cover;
   

}
.hero-title {
    color: #FFF;
font-size: 20px;
font-weight: 500;
line-height: 1.21; 
letter-spacing: -0.03em;
margin-bottom: 32px;
margin-top: 350px;
max-width: 484px;
}
.hero-buttons-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hero-buy-btn {
    color: #FFF;
font-family: Montserrat;
font-size: 12px;
height: 41px;
font-style: normal;
font-weight: 600;
border-radius: 100px;
background-color: #FD9222;
border: none;
line-height: normal;
cursor: pointer;
margin-right: 14px;
padding: 12px 28px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
color 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: inline-flex;
margin: auto;
align-items: center;
}
.hero-buy-btn:hover,
.hero-buy-btn:focus,
.hero-buy-btn:active {
    background-color: #FFF;
    color:  #FD9222;
}
.hero-made-btn {
    color: #FFF;
font-size: 12px;
height: 41px;
font-weight: 600;
line-height: normal;
border-radius: 100px;
border: 1px solid #FFF;
background-color: transparent;
padding: 12px 28px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
color 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: inline-flex;
margin: auto;
align-items: center;
}
.hero-made-btn:hover,
.hero-made-btn:focus,
.hero-made-btn:active {
    background-color: #FFF;
    color:  #FD9222;
}
.hero-down-block {
    display: flex;
    margin-top: 32px;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-down-link:hover .hero-down-svg,
.hero-down-link:focus .hero-down-svg,
.hero-down-link:active .hero-down-svg, 
.hero-down-link:hover {
    background-color: #FD9222;
    fill:  #FFF;
}

.hero-down-btn {
color: #FFF;
font-size: 12px;
font-weight: 500;
line-height: 1.29;
letter-spacing: -0.03em;
display: block;
}
.hero-down-link {
border-radius: 50%;
background-color: #FFF;
width: 28px;
height: 28px;
display: flex;
justify-content: center;
align-items: center;
margin-left: 12px;
}
.hero-down-svg {
    fill: #FD9222;
    margin: 0 auto;
}
.hero-buttons {
    align-items: center;
}
@media screen and (min-width: 768px) {

    .container {
    max-width: 768px;
      padding: 0 32px;
    }
.hero {
    width: 768px;
}
.hero-container {
    background-position: 55% 0;
}
.hero-title {
    font-size: 28px;
}
.hero-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
   justify-content: space-between;
}
.hero-buttons-right{
    flex-direction: row;
    gap: 10px;
}
.hero-down-block {
  margin-top: 0;   
  
}
.hero-down-btn {
    margin: 0 auto;
    font-weight: 14px;
    margin-left: 153px;
    float: right;
    justify-content: space-between;
}
.hero-down-svg {
    width: 22px;
}
  }
  
  @media screen and (min-width: 1280px) {

    .hero {
        width: 1280px;
    }
    .hero-container {
        background-position: center;
    }
  }


  /*MODAL*/
.modal-backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(18, 16, 13, 0.607);
    z-index: 999;
}

.modal-bay {
    min-width: 390px;
    min-height: 794px;
    border-radius: 15px;
background: #FAFAFA;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 40px;
}

.close_modal {
    margin-left: auto;
    position: absolute;
top: 24px;
right: 24px;
width: 30px;
height: 30px;
border: 1px solid #868484;
background-color: #efeeee;
border-radius: 15px;
display: flex;
align-items: center;
justify-content: center;
padding: 0;
}
.modal-title {
    color: #111;
font-size: 24px;
font-weight: 600;
line-height: 1.17; 
letter-spacing: -0.03em;
text-transform: uppercase;
text-align: left;
max-width: 298px;
margin-bottom: 42px;
}
.modal-title span{
    color: #FD9222;
}

.modal-form {

}

.modal-input {
    width: 100%;
    height: 68px;
    display: flex;
align-items: center;
align-self: stretch;
border-radius: 13px;
border: 1.5px solid rgba(17, 17, 17, 0.05);
box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
margin-bottom: 18px;
background-color: transparent;
padding-left: 54px;
outline: transparent;
}
.modal-input:focus {
    border-color: #FD9222;
}

.modal-input:focus + .modal-icon{
    stroke: #FD9222;
}
.modal-input::placeholder {
color: rgb(215, 214, 213);
}
.modal-input:hover::placeholder {
    
    color: rgb(248, 192, 88);
    }
/*.modal-input:focus::placeholder {
        color: ;
        }*/

.modal-label {
    color: rgba(64, 64, 64, 0.30);
font-size: 14px;
font-weight: 400;
line-height: normal;
letter-spacing: -0.02em;
margin-bottom: 8px;
display: block;
}
.modal-input-wrap {
    position: relative;
}
.modal-icon {
    fill: transparent;
    stroke: #404040;
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
}
.modal-text {
    width: 100%;
    height: 137px;
    display: flex;
align-items: center;
align-self: stretch;
border-radius: 13px;
border: 1.5px solid rgba(17, 17, 17, 0.05);
box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
margin-bottom: 18px;
background-color: transparent;
padding: 24px 22px;
outline: transparent;
resize: none;
}
.check-input {

}

.check-text {
    color: rgba(64, 64, 64, 0.60);
font-size: 14px;
line-height: normal;
letter-spacing: -0.02em;
display: flex;
align-items: center;
/* position: relative; */
}

.check-text a {
    color: var(--orange, #FD9222);
font-size: 14px;
line-height: normal;
letter-spacing: -0.02em;
text-decoration-line: underline;

}


.check-text span {
    width: 20px;
    height: 20px;
    border-radius: 6px;
border: 1px solid rgba(17, 17, 17, 0.14);
margin-right: 12px;
display: flex;
align-items: center;
justify-content: center;
fill: transparent;

}
.check-input:checked + .check-text span {
background-color: #FD9222;
border: none;
fill: #FFF;
}

.backdrop-modal-send {
    color: #FFF;
font-family: inherit;
font-size: 14px;
font-weight: 600;
line-height: normal;
height: 52px;
width: 120px;
/*padding: 14px 26px;*/
background-color: #FD9222;
border-radius: 100px;
border: none;
margin-left: 8px;
margin-top: 20px;
}
.backdrop-modal-send:hover {
  background-color: transparent;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.487);
}